html, body
  {
    background-color: #141414;
    color: #eeeeee;
    margin: 0;
    padding: 0;
    text-rendering: optimizelegibility;
  }

div.container-fluid 
  {
    position: relative;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

div.container-fluid div.content  
  {
    margin-left: 0px;
    max-width: 800px;
    min-width: 300px;
  }

div.container-fluid div.sidebar 
  {
    position: absolute;
    top: 150px;
    padding-left: 640px;
  }

div.content img
  {
    border-style: solid;
    border-width: 15px;
    border-color: #505050;
  }

h1
  {
    font-family: 'Didact Gothic', sans-serif;
    font-weight: normal;
    font-size: 32pt;
    color: #cccccc;
    padding-top: 20px;
    padding-bottom: 60px;
  }

.sidebar p
  {
    font-family: Tangerine;
    font-style: italic;
    font-size: 18pt;
    line-height: 18pt;
  }

.content p
  { 
    font-family: 'Didact Gothic', sans-serif;
    font-size: 8pt;
    line-height: 10pt;
    padding-left: 15px;
    padding-top: 10px;
    color: #505050;
  }

.content p.workinprogress
  {
    padding-top: 100px;
    font-size: 18pt;
    line-height: 24pt;
  }

